.centered-form {
    width: 100%;
}

.centered-form label {
    width: 30%;
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}

.centered-form input:not([type="submit"]) {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 4px 8px;
}

label {
    outline: 0;
}

.submit-btn-box {
    margin: 10px 0 0 0;
    text-align: right;
}

.contact-form {
    width: 400px;
}
