.form {
    min-width: 300px;
    max-width: 500px;
}

.form label {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}

.form input:not([type="submit"]){
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 4px 8px;
}

label {
    outline: 0;
}

.submit-btn-box{
    margin: 10px 20px 0 0;
    text-align: right;
}

.edit-profile-form {
    width: 500px;
}

.contact-form{
    width: 400px;
}
