#content {
    z-index: 9;
}

#post {
    width: 100%;
    display: none;
    position: relative;
}

#post-header {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: small;
}

#post-header > #author {
    width: 540px;
    font-weight: bold;
    float: left;
}

#post-header > #ts {
    overflow: hidden;
    width: 60px;
}

#post-body {
    min-height: 30px;
    overflow-wrap: break-word;
    position: relative;
}

.extended-select {
    width: 40%;
}

#post-text {
    width: 100%;
}

.unread-post {
    background: #cee2d3;
}

.inline-block {
    display: inline-block;
}

#tabs-list li .ui-icon-close {
    float: left;
    cursor: pointer;
}

#tabs-list li a {
    float: left;
}

.selected-thread {
    background-color: #f9f9f9;
    border-radius: 2px;
}

#im-box {
    width: 600px;
}

#show-thread-list {
    background-color: #fff;
}

#post-text {
    width: 580px;
}

#ts {
    font-size: 12px;
    color: rgb(149, 149, 149);
}

#send {
    padding: 3px 6px;
    float: right;
}

.post-body {
    margin-left: 8px;
    font-size: small;
}

#post-files-wrap {
    margin: 0 0 3px 3px;
}

.edit-msg-btn {
    position: absolute;
    border: none;
    right: 20px;
    display: block;
    top: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    background-image: url("/bundles/networkweb/img/edit.png");
}

#edit-text{
    width: 310px;
    margin: 20px 10px 10px 0;
    max-width: 310px;
    max-height: 100px;
    min-height: 100px;
    min-width: 300px;
}
