body{
    font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
}

header, #content, footer{
    margin: 0 auto;
}

#logo img{
    width: 40px;
    height: 40px;
}

button{
    background-color: #4c7198;
    color: #ffffff;
}

.centered{
    margin: 0 auto;
}
