#video_box {
    width: 600px;
    overflow: hidden;
}

#video_header {
    margin: 0 0 20px 0;
}

input#seach {
    width: 300px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 5px;
}

.popup_video a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.popup_video img {
    width: 240px;
    margin-top: 5px;
}

.popup_video {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 250px;
    vertical-align: top;
}

iframe {
    margin: 0 auto;
    display: block;
}

#add_video {
    margin: 10px 0 0 0;
}

.white-box textarea {
    width: 255px;
}

#search-btn {
    padding: 3px 6px;
}

.popup_video > div {
    text-align: right;
    margin: 3px 0 0 0;
}
