{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
<div>
    <div>
       <div class="count"> </div> <a  value="{{ 'like'|trans }}" />
    </div>
</div>

