{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block right_content_sub_one %}
    <div>
        {% if photo %}
                <p><img src="{% path photo, 'big' %}" alt="{{ photo }}" /></p>
        {% endif %}
    </div>
{% endblock %}
{% block right_content_sub_two %}
    {% if is_cur_user and is_user_album %}
        <div>
            <p><a href="{{ path('user_delete_album_photo', {'albumId':album_id, 'photoId':photo.id}) }}">{{ 'album.delete_photo'|trans }}</a></p>
        </div>
    {% endif %}
{% endblock %}
