{% extends "NetworkWebBundle:Default:auth.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block authorization %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock %}
