{% extends "NetworkUserBundle:EditProfile:edit.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block edit_content %}
    <form action="{{ path('fos_user_change_email') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_email centered-form">
        {{ form_widget(form) }}
        <div class="submit-btn-box">
            <input class="btn btn-blue" type="submit" value="{{ 'change_email.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
