{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_email') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_email">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_email.submit'|trans }}" />
    </div>
</form>
