{% extends "NetworkWebBundle:Default:auth.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
{% endblock %}
{% block authorization %}
    <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
{% endblock authorization %}
