<div id="localization-box">
    <a class="link {{ color }}" href="{{ path('change_locale', {'_locale':'en'}) }}">EN</a>
    <a class="link {{ color }}" href="{{ path('change_locale', {'_locale':'ru'}) }}">RU</a>
</div>
