{% extends "NetworkWebBundle:Default:base.html.twig" %}
{% block content %}
    <div class="msg">
        {{ msg }}
        <a href="javascript:window.location.replace(document.referrer)">Назад</a>
    </div>
{% endblock %}