<a href="{{ path('network_statistic_parse', {'startYear': 2011, 'endYear': 2015}) }}">Начать парсинг с 2011 по 2015</a>
<a href="{{ path('network_statistic_calc_achievements') }}">Пересчитать достижения</a>
